    body{
        font-family: "roboto", sans-serif;
    }
     h1{
    color: bisque;
    text-align: center;
}

/* selecteur enfant */
.child-selector > div > p {
    background-color: antiquewhite;
}
/* selecteur descendant */
.descendant-selector div p {
    background-color: blue;
 }
 #box-2{
    width: 100px;
    height: 100px;
    background: black;
    visibility: hidden;
 }
.head {
    background: blueviolet;
}
.center-image {
    display: block;
    margin: 0 auto;
}
.image-container{
background-color: black;
}

.menu {
    list-style: none; /* Supprime les puces de liste */
    padding: 0;
margin: 0;
text-align: right; /* Aligne le texte à droite */
font-size: x-large;
}

.menu li {
    display: inline; /* Affiche les éléments de liste en ligne */
    margin-right: 10px; /* Ajoute une marge entre les éléments */
}

.menu li:last-child {
    margin-right: 0; /* Supprime la marge du dernier élément */
}

.menu a {
    text-decoration: none; /* Supprime le soulignement des liens */
    color: #000; 
}
.foot {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}






